---
import { prisma } from '../lib/prisma';
import CommentsWrapper from '../components/CommentsWrapper';
import BaseLayout from '../layouts/BaseLayout.astro';

const comments = await prisma?.guestbook.findMany({
  orderBy: { createdAt: 'asc' },
});
const initialComments = comments;
---

<BaseLayout>
  <h1 class="text-3xl font-bold mb-4">Welcome to my Guestbook!</h1>
  <p class="text-base mb-8">
    Please leave a comment about your visit to my website. Your feedback is
    valuable to me and helps me improve my website.
  </p>
  <CommentsWrapper client:visible initialComments={initialComments} guestbook />
</BaseLayout>
