---
import NavLink from './NavLink.astro';
---

<div class="navbar mb-8">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost -ml-6 text-xl">DC</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><NavLink href="/guestbook">Guestbook</NavLink></li>
      <li>
        <NavLink href="/blog">Blog</NavLink>
      </li>
    </ul>
  </div>
</div>
