<div class="hero bg-base-100">
  <div class="hero-content grid grid-cols-[auto_12rem] px-0 sm:grid-flow-row">
    <div>
      <h1 class="text-5xl font-bold tracking-wide">DAIRON CANEL</h1>
      <h2 class="text-2xl font-bold">Frontend Engineer</h2>
      <p class="py-6">
        Solving problems within the JavaScript ecosystem, tinkering with AI and
        Machine Learning, looking for ways to automate and streamline my work.
      </p>
      <button class="btn btn-primary">Contact</button>
    </div>
    <img
      src="/avatar-bw.jpg"
      alt="profile image"
      class="mask mask-circle shadow-2xl"
    />
  </div>
</div>
