<div class="hero bg-base-100 mb-8">
  <div
    class="hero-content grid grid-cols-[10.7rem_auto] gap-8 px-0 sm:grid-flow-row"
  >
    <div class="avatar place-self-start">
      <div class="mask mask-squircle shadow-2xl">
        <img src="/avatar-bw.jpg" />
      </div>
    </div>
    <div>
      <h1 class="text-5xl font-bold tracking-wide">DAIRON CANEL</h1>
      <h2 class="text-2xl font-bold">Frontend Engineer</h2>
      <p class="py-6">
        Solving problems within the JavaScript ecosystem, tinkering with AI and
        Machine Learning, looking for ways to automate and streamline my work.
      </p>
      <button class="btn btn-primary tracking-widest">Contact</button>
    </div>
  </div>
</div>
