---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

interface Props {
  title?: string;
  description?: string;
  preloadImage?: string;
  preloadImageSizes?: string;
  preloadImageSrcSet?: string;
  frontmatter?: {
    minutesRead: string;
    title: string;
    file: string;
    url: string;
  };
}
const {
  frontmatter,
  title,
  description,
  preloadImage,
  preloadImageSizes,
  preloadImageSrcSet,
} = Astro.props;
import '../../styles/global.css';
---

<html lang="en" class="scroll-smooth" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="min-h-screen h-fit grid content-between">
    <div>
      <Header title={SITE_TITLE} />
      <main class="max-w-[900px]">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
